.form-holder{
    width: 100%;
    min-height: 100%;
    padding: 0rem;
    margin: auto;

}
.form{
    width: 90%;
    min-height: 70vh;
    margin: auto;
    border-radius: 1rem;
    box-shadow: .1px .1px 5px grey;
}

.form-inner{
    width: 100%;
    margin: auto;
}
.form-register{
    width: 75%;
    margin: auto;
    padding: 2rem 0rem;
}

.form-img{
    width: 70%;
    padding: 1.2rem;
}
.login, .register{
    height: 100%;
    padding: 2rem 5rem;
    margin: 3rem auto;
    background-color: #f6f6f6;
    box-shadow: 0px 1px 10px #0000004d;
}
.label{
    font-weight: 600;
    font-size: 0.75rem;
    top: -20%;
    left: 8%;
    background-color: #f6f6f6;
    padding: 0rem .35rem;
}
.text-label{
    font-weight: 600;
    font-size: 0.75rem;
    top: -4%;
    left: 8%;
    background-color: #f6f6f6;
    padding: 0rem .35rem;
}
.input-holder{
    margin: .8rem;
}
.input-holder input, .input-holder textarea{
    height: 2.7rem;
    padding-left: 1rem;
    background-color: #f6f6f6;
    outline: 1.5px solid transparent;
    border: 0px;
    resize: none;
    padding: 0rem 2rem;
    border-radius: 1rem;
    border: 2px solid #8080807a;
    transition: all .3s;
}
.input-holder textarea{
    height: 10rem;
    padding: 1rem;
    width: 100%;
}

.input-holder input:focus, .input-holder textarea:focus{
    border: 2px solid var(--primary-color-dark);
}
.input-holder input::placeholder, .input-holder textarea::placeholder {
    font-size: .8rem;
    visibility: hidden;
}
.group{
    margin: 1rem;
}
.sub-group{
    margin: 0rem auto;
    justify-content: space-between;
}

.line{
    height: .1rem;
    width: 100%;
    background-color: #8080807a;
}
.or{
    padding: 2rem 0rem;
    font-weight: 700;
    font-size: .8rem;
}
.or-text{
    top: 50%;
    left: 50%;
    padding: 0rem 1rem;
    background-color: #f6f6f6;
    transform: translate(-50%, -50%);
}


.pattern, .pattern1 {
    background-size: cover;
    height: 3rem;
    width: 3rem;
}


.social-alt{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 2.2rem;
    width: 2.2rem;
    color: white;
    border-radius: 50%;
    background-color: white;
    transition: all .3s;
}
.social-alt:hover{
    animation: alternate;
    transform: scale(1.1);
}
.icons-alt{
    width: 1.3rem;
    height: 1.3rem;
}
.fill-alt{
    width: 2.2rem;
    height: 2.2rem;
}
.underline{
    text-decoration: underline;
}