.news{
    margin: 1rem auto;
    min-height: 5rem;
    padding: 2rem 2.5rem;
    background-color: #e6e6e6;
}
.news h4, .news-h4{
    font-size: 1.5rem;
}
.news-h4{
    color: black;
}
.news p{
    font-size: 1.1rem;
    margin-top: .5rem;
}