*{ 
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 255, 0.13); */
}
body{
    background-color: #ececec6e;
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;

    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}
:root{
    --primary-color: #00e9c9;
    --primary-color-dark: #008d79;
    --secondary-color: #4caf50;
    --tertiary-color: #e98700;
    --primary-text-color: white;
    --primary-alt-text-color: rgb(44, 44, 44);
}

body::-webkit-scrollbar{
    width: .7rem;
    position: absolute;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
}
body::-moz-scrollbar{
    width: .7rem;
    position: absolute;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
}
body::-webkit-scrollbar-thumb{
    background-color: black;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    padding-left: 5px;
    padding-right: 5px;
}
body::-moz-scrollbar-thumb{
    background-color: black;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    padding-left: 5px;
    padding-right: 5px;
}
.page{
    width: 90%;
    margin: 2rem auto;
}
header, section, footer {
    margin: auto;
}
header{
    min-height: 5rem;
    background-image: linear-gradient(to right, #000000f5, #000000bf),url(../headimg.jpg);
    background-size: cover;
    overflow-x: hidden;
    color: var(--primary-text-color);
}
section{
    min-height: 80vh;
    margin: 4rem 0;
}
footer{
    min-height: 100px;
}
img{
    width: 100%;
}
input[type="passcode" i] {
    -webkit-text-security: none;
    padding: 1px 2px;
}







/* PRIMITIVES */

p, .p{
    font-size: 1rem;
    color: #4d4d4d;
    width: 100%;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #e6e6e6;
}
.h1-alt{
    font-size: 4rem;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
.h2{
    font-size: 3rem;
}
h3{
    font-size: 2em;
    font-weight: 100;
}
.h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5em;
}
.section-h4{
    font-size: 2rem;
    padding: 1rem 0rem;
}
.h4{
    color:black;
    font-weight: 100;
}
h6{
    font-weight: 300;
}
li{
    list-style: none;
}

hr{
    width: 10%;
    border-radius: 100px;
    height: .2rem;
    margin: 1.5rem 0;
    border-color: transparent;
    background-color: var(--primary-color);
}
br{
    width: 10%;
    border-radius: 100px;
    height: .2rem;
    margin: 1.5rem 0;
    border-color: transparent;
    background-color: transparent;
}
button, button:focus{
    border: 0px;
    outline: 0px;
}

.primary{
    color: var(--primary-color);
}
.secondary{
    color: var(--secondary-color);
}
.tertiary{
    color: var(--tertiary-color);
}
.responsive{
    display: none !important;
}
.anti-responsive{
    display: flex !important;
}
.mc{
    margin: auto;
    width: -webkit-fill-available;
}
.ml-0{
    margin-right: auto !important;
}
.mr-0{
    margin-left: auto !important;
}
.mbc{
    margin: auto 0;
}
.mic{
    margin: 0 auto;
}
.md-36{
    font-size: 36px;
}
.md-72{
    font-size: 72px;
}
.m1{
    margin: 1rem;
}
.tl{
    text-align: left;
}
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.tb{
    font-weight: 700;
}
.pa-l{
    padding: 0rem 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.left{
    left: 3%;
}
.right{
    right: 3%;
}
.bg{
    font-size: 1rem;
    width: 1.2rem !important;
    height: 1.2rem !important;
    margin: auto;
    color: var(--primary-color-dark);
}
.space-btw{
    justify-content: space-between !important;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-center{
    display:flex;
    justify-content: center;
}
.flex-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}
.flex-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.tp-l , .tp-r, .bt-l, .bt-r{
    position: absolute;
}
.bt-l, .tp-l{
    left: 2%;
}
.bt-r, .tp-r{
    right: 2%;
}
.tp-l, .tp-r{
    top: 4%;
}
.bt-l, .bt-r{
    bottom: 4%;
}
.pl-1{
    padding-left: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.ratio-2{
    width: 20%; 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-3{
    width: 30%; 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-4{
    width: 40%; 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-5{
    width: 50%; 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-6{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-7{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-9{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.ratio-10{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.alt-5{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 5rem auto;
    justify-content: center;    
}
.alt-5 p, .pee{
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.p-txt{
    width: 80%;
    color: rgba(240, 255, 255, 0.836);
}
.btn{
    border: 2px solid var(--primary-color);
    padding: 1rem 2rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto 0rem;
    transition: all .3s;
    cursor: pointer;
}
.filled{
    background-color: var(--primary-color);
    color: white;
    margin: 1rem 0;
    border-radius: 3px;
}
.pill{
    border-radius: 500px;
    border: 2px solid white;
    margin: auto;
}
.gradient{
    padding: .7rem 1rem;
    color: white;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    transition: all .5s;
    background-image: linear-gradient(60deg , var(--primary-color), #533fb5 );
}
.gradient:hover{
    background-image: linear-gradient(0deg , var(--primary-color), #533fb5 );
}
.hollow{
    background-color: transparent;
    color: var(--primary-color);
    margin: 1rem 0;
}
.hollow-dark{
    border: 2px solid var(--primary-color-dark);
    background-color: transparent;
    color: var(--primary-color-dark);
    margin: 1rem 0;
}
.delete{
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #b50202;
    border: 1px solid #b50202;
    margin: 0 1rem 1rem auto;
}
.filled:hover, .navigation-list li:hover, .box a:hover, .btn:hover{ 
    transform: scale(1.05);
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.grey{
    color: gray;
}
.primary-dark{
    color: var(--primary-color-dark);
}
.dark{
    color: black;
}
.white{
    color: white;
}
.white-background{
    background-color: white;
    min-height: 20rem;
    padding: 2rem 2.5rem;
}
.gray-background{
    background-color: #e6e6e6;
    min-height: 30rem;
    padding: 2rem 2.5rem;
}
.green-background{
    background-color: green;
    min-height: 30rem;
    padding: .1rem .5rem;
}
.w-background{
    background-color: white;
    min-height: 30rem;
    padding: .1rem .5rem;
}
.g-background{
    background-color: #e6e6e6;
    min-height: 30rem;
    padding: .1rem .5rem;
}
.toggle{
    transition: all .3s;
}
.form-width{
    width: 54%;
    border: 2px solid #bebebe;
    border-radius: 15px;
    margin: 1rem auto 2rem auto;
}
.admin{
    display: none;
}
.admin:target{
    display: initial;
}



/* TO BE TRANSPORTED */

.head{
    height: fit-content;
}

.stock-holder{
    height: 35rem;
}
.ml1{
    margin-left: 1rem;
}
.outline{
    outline: .5rem solid white;
    width: 17rem;
    z-index: 1;
    transition: all .3s;
}
.outline-alt{
    outline: .5rem solid white;
    width: 15rem;
    z-index: 2;
    transition: all .3s;
}
.board1{
    background-color: var(--primary-color);
    opacity: .3;
    width: 100%;
    top: 25%;
    right: 35%;
    height: 70%;
}
.board2{
    background-color: var(--secondary-color);
    opacity: .3;
    width: 100%;
    top: 0%;
    left: 25%;
    height: 80%;
}
.board3{
    background-image: linear-gradient(to left, #008d7975, #008d7875), url(../public/board3.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 25rem;
}
.board4{
    background-image: linear-gradient(to left, #4caf50bf, #4caf4f38), url(../public/board4.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 25rem;
}
.board5{
    background-image: linear-gradient(to right, #e9880046, #e98800af), url(../public/board5.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 25rem;
}
.outline:hover{
    width: 40%;
    outline-offset: 1.2rem;
    outline: .5rem solid var(--primary-color);
    z-index: 3;
}
.outline-alt:hover{
    width: 18rem;
    outline-offset: 1.2rem;
    outline: .5rem solid var(--primary-color);
    z-index: 3;
}
.img0{
    top: 0%;
    left: 35%;
    z-index: 1
}
.img1{
    top: 28%;
    left: 40%;
    z-index: 1
}
.img2{
    top: 10%;
    left: -10%;
}
.img3{
    bottom: 25%;
    right: 60%;
}
.img4{
    width: 38%;
    top: -6%;
    left: 4%;
    z-index: 1;
}
.img5{
    width: 38%;
    bottom: -6%;
    right: 4%;
    z-index: 1;
}
.img6{
    width: 38%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.img-100{
    width: 100%;
}


.head-text{
    color: var(--primary-color-dark);
    margin: 3rem auto;
}
.head-text-alt{
    color: var(--primary-color-dark);
    margin: 1rem auto;
    padding: 0rem;
}



.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    max-width: 90vw;
    overflow: hidden;
    border-radius: 3px;
    min-height: 23rem;
    /* margin: auto 2rem; */
    padding: 1rem 2.5rem;
    color: var(--primary-text-color);
}
.card p{
    color:var(--primary-text-color);
}
.prm-background{
    background-color: var(--primary-color-dark);
}
.sec-background{
    background-color: var(--secondary-color);
}
.ter-background{
    background-color: var(--tertiary-color);
}

.box{
    width: 70%;
}
.pri h4, .pri a{
    color: var(--primary-color-dark);
}
.sec h4, .sec a{
    color: var(--secondary-color)
}
.sec a{
    border-color: var(--secondary-color);
}
.tert h4, .tert a{
    color: var(--tertiary-color);
}
.tert a{
    border-color: var(--tertiary-color);
}








.details{
    width: 100%;
}
.admin{
    z-index: 200;
    height: 100vh;
    width: 100vw;
    background-color: #00000080;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.hydrated {
    visibility: inherit;


}
.md, .md:active{
    width: 1.3rem;
    height: 1.3rem;      
    margin: auto;  
    transition: all .3s;  
}
.md:hover{
transform: scale(1.25);   
}
  




/* ANIMATIONS */

.fade-in-30, .fade-in-90, .fade-in-100 { opacity: 0;}


@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




/* QUERIES */

@media (max-width:1000px) {
    *{
        font-size: 13px;
    }
}

@media (max-width:890px) {
    *{
        font-size: 12px;
    }
}

@media (max-width:790px) {
    *{
        font-size: 10px;
    }
}

@media (max-width:700px) {
    .head-text {
        margin: 0rem auto;
    }
    .alt-5 {
        width: 70%
    }
    .anti-responsive{
        display: none !important;
    }
    .responsive{
        display: flex !important;
    }
    .ratio-2, .ratio-3, .ratio-4, .ratio-5, .ratio-6, .ratio-7, .ratio-8, .ratio-9, .ratio-10{
        width: 100%;
        margin: 1rem 2rem;
    }
    .form-width{
        width: 90%;
    }
    .input-holder textarea {
        width: 100% !important;
    }
<<<<<<< HEAD
    p, .foot p, .foot li a, .contact li{
        font-size: 1.5rem;
    }
    .foot h3{
        font-size: 2rem !important;
=======
    p, .foot p, .foot li a, .contact li, .p{
        font-size: 1.5rem;
>>>>>>> 44bebf16822325e5c8e127a29c5a6ddfd89a52c4
    }
    .foot h3{
        font-size: 2rem !important;
    }

    .card {
        margin: 1rem auto;
    }
    

    /* header {
    min-height: 85vh;
    } */
    section{
        min-height: fit-content;
    }
    h2 {
        font-size: 2em;
        padding: 3rem 0rem;
    }

    .box {
        width: 100%;
    }
    .row {
        margin: 1rem auto;
    }
    .col{
        margin: auto;
    }
    .gray-background {
        padding: 2rem 0rem;
    }

    .two {
        width: 100%;
        max-width: 80% !important;
        margin: 1.3rem 1rem;
    }
    .two li{
        text-align: left;
    }
    .pa-l {
        padding: 1rem 1rem;
    }
    .ms-2{
        margin: 3rem auto;
        width: 70%;
    }
    .contact h3{
        padding-bottom: 1rem;
    }


    .img1 {
        top: 20%;
        left: 45%;
        z-index: 1;
    }

    .img3 {
        bottom: 20%;
        right: 40%;
    }

    .img2 {
        bottom: 10%;
        left: 20%;
    }

    .md{
        width: 2rem;
        height: 2rem;      
        margin: auto;    
    }
}

@media (max-width:650px) {
    .img1 {
        top: 15%;
        left: 35%;
    }

    .img3 {
        bottom: 20%;
        right: 40%;
    }

    .img2 {
        top: 5%;
        left: 5%;
    }
}

@media (max-width:500px) {
    .gradient {
        padding: 1.3rem 1rem !important;
    }
    .input{
        margin: 1rem .8rem !important;
    }
    .label{
        font-size: 1rem !important;
    }
    .input-holder input{
        height: 3.7rem !important;
        border-radius: 1.5rem !important;
    }
    .page {
        width: 95% !important;
    }
    
    .group {
        font-size: 1.6rem !important;
    }

    .login, .register {
        width: 80%;
        padding: 0rem !important;
        margin: 3rem auto !important;
        font-size: 1.6rem !important;
        box-shadow: 0px 1px 10px #00000000 !important;
    }

    .img1 {
        top: 15%;
        left: 40%;
    }

    .img3 {
        bottom: 20%;
        right: 40%;
    }

    .img2 {
        top: 5%;
        left: 5%;
    }

    .h1-alt{
        font-size: 2.7rem;
        margin: 1.5rem 0;
    }
    h1{
        font-size: 2.7em;
        margin: 1.5rem 0;
    }
    h3{
        font-size: 1.5em;
        font-weight: 100;
    }
    .h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.2em;
    }
    .section-h4{
        font-size: 2rem;
        padding: 1rem 0rem;
    }
    .h4{
        color:black;
        font-weight: 100;
    }
    li{
        list-style: none;
    }
    
    hr{
        width: 10%;
        height: .15rem;
        margin: 1rem 0 1.5rem 0;
    }

    .toggle {
        min-width: 65% !important;
    }

}

@media (max-width:420px) {
    .img1 {
        top: 15%;
        left: 45%
    }

    .img3 {
        bottom: 20%;
        right: 23%;
    }

    .img2 {
        top: 5%;
        left: 0%;
    }
}
@media (max-width:300px) {
    .img1 {
        top: 23%;
        left: 45%
    }

    .img3 {
        bottom: 25%;
        right: 23%;
    }

    .img2 {
        top: 15%;
        left: 0%;
    }
    .ml1 {
        margin: 1rem 0rem !important;
    }

    .outline-alt {
        width: 13rem;
    }    
}